RewriteEngine On

# RewriteBase /libsys-v3/public/
# If your application is in a subfolder, uncomment and update the RewriteBase above.
# Example: RewriteBase /my-subfolder/public/

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^ index.php [QSA,L]